.landing-main-slide {
    position: relative;
    background: #000 url("https://upload.wikimedia.org/wikipedia/commons/0/03/Wilkins_Building_1,_UCL,_London_-_Diliff.jpg") center center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    padding: 0;
    opacity: 0.75
}

.landing-video-slide {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    padding: 0;
}

.landing-background-slide {
    position: relative;
    background: #000 url('http://2015.igem.org/wiki/images/a/a5/UCLFRONTBLOCK_1_2015.png') center center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    padding: 0;
}

.description-background {
    position: relative;
    background: linear-gradient(rgba(240, 240, 240, 1), rgba(240, 240, 240, 1));
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    padding: 0;
}

.description-desc {
    position: relative;
    background: linear-gradient(rgba(255, 0, 0, 0.2), rgba(255, 255, 255, 0.2)) center center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    padding: 0;
}
