.jumbotron {
    position: relative;
    background: #000 url("https://upload.wikimedia.org/wikipedia/commons/0/03/Wilkins_Building_1,_UCL,_London_-_Diliff.jpg") center center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    padding: 0;
    opacity: 0.75
}
